In [3]:
import pnadium

pnadium.trimestral.download(2024, 4)

Iniciou o download: Trimestre 4/2024 - aguarde.
Download finalizado.
Iniciou a criação do DataFrame Pandas: esta etapa pode demorar alguns minutos.
Chunks processados e salvos.
DataFrame criado.
DataFrame "pnad_trimestral_trimestre_042024.parquet" salvo como arquivo Parquet em: /home/godofthemast/Meus_Scripts/insper/cdados/exercicios/aula15/pnad_trimestral_trimestre_042024.parquet

In [9]:
import pandas as pd

dados = pd.read_parquet('pnad_trimestral_trimestre_042024.parquet')
dados

,Ano,Trimestre,UF,Capital,RM_RIDE,UPA,Estrato,V1008,V1014,V1016,...,V1028193,V1028194,V1028195,V1028196,V1028197,V1028198,V1028199,V1028200,COD_FAM,COD_PESSOA
0,2024,4,11,11.0,NaN,110000016,1110011,02,11,4,...,957.197334,0.000000,778.285822,0.0,256.600053,0.0,0.000000,283.755315,1100000160211,110000016021101
1,2024,4,11,11.0,NaN,110000016,1110011,02,11,4,...,957.197334,0.000000,778.285822,0.0,256.600053,0.0,0.000000,283.755315,1100000160211,110000016021102
2,2024,4,11,11.0,NaN,110000016,1110011,03,11,4,...,764.380448,0.000000,622.196312,0.0,210.777094,0.0,0.000000,214.602823,1100000160311,110000016031101
3,2024,4,11,11.0,NaN,110000016,1110011,03,11,4,...,764.380448,0.000000,622.196312,0.0,210.777094,0.0,0.000000,214.602823,1100000160311,110000016031102
4,2024,4,11,11.0,NaN,110000016,1110011,03,11,4,...,764.380448,0.000000,622.196312,0.0,210.777094,0.0,0.000000,214.602823,1100000160311,110000016031103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
469329,2024,4,53,53.0,NaN,530064123,5310220,12,12,2,...,913.836446,286.883485,0.000000,0.0,603.064276,0.0,573.438723,896.910803,5300641231212,530064123121201
469330,2024,4,53,53.0,NaN,530064123,5310220,12,12,2,...,913.836446,286.883485,0.000000,0.0,603.064276,0.0,573.438723,896.910803,5300641231212,530064123121202
469331,2024,4,53,53.0,NaN,530064123,5310220,12,12,2,...,913.836446,286.883485,0.000000,0.0,603.064276,0.0,573.438723,896.910803,5300641231212,530064123121203
469332,2024,4,53,53.0,NaN,530064123,5310220,14,12,2,...,659.314729,212.233895,0.000000,0.0,447.329338,0.0,446.365763,670.112183,5300641231412,530064123141201
469333,2024,4,53,53.0,NaN,530064123,5310220,14,12,2,...,659.314729,212.233895,0.000000,0.0,447.329338,0.0,446.365763,670.112183,5300641231412,530064123141202